<h2>
  Reactive Fun
</h2>

<form novalidate [formGroup]="form">
  <md-card>
    <label>***** Name *****</label>
    <input formControlName="first" placeholder="First Name">
    <input formControlName="last" placeholder="Last Name">
    <div formGroupName="account">
      <label>***** Account *****</label>
      <input formControlName="username" placeholder="User Name">
      <input formControlName="password" placeholder="Password">
      <input formControlName="confirm" placeholder="Confirm password">
    </div>
    <label>Would like us to receive newsletter?</label>
    <input type="radio" value="yes" formControlName="thisQuestion">Yes
    <input type="radio" value="no" formControlName="thisQuestion">No
    <label>Can we wear hats?</label>
    <md-radio-group name="no-hats">
      <md-radio-button value="yes">Yes</md-radio-button>
      <md-radio-button value="no">No</md-radio-button>
    </md-radio-group>
  </md-card>
</form>



<md-card>
  <p>Form: {{ form.value | json }}</p>
  <p>Form status: {{ form.status }}</p>
  <p>Password status: {{ form.get('account.password').status }}</p>
  <p>Account status: {{ form.get('account').errors | json }}</p>
</md-card>